version: "3.8"

services:

  postgres:
    image: postgres:15
    container_name: airflow-postgres
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres-db:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  airflow-webserver:
    build: ./airflow
    container_name: airflow-webserver
    depends_on:
      - postgres
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
      AIRFLOW__CORE__FERNET_KEY: "4cb62f3a485bf6b929b1629ab4d29674"
      AIRFLOW__WEBSERVER__SECRET_KEY: "my_super_secret_key_123"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./dbt:/opt/airflow/dbt
      - /Users/elham/.dbt:/opt/airflow/dbt-profiles
      - /Users/elham/.secrets/dbt_svc_private_key.pem:/opt/airflow/secrets/dbt_svc_private_key.pem:ro
    command: >
      bash -c "
      airflow db migrate &&
      airflow webserver
      "
    ports:
      - "8080:8080"
      - "8085:8085"

  airflow-scheduler:
    build: ./airflow
    container_name: airflow-scheduler
    depends_on:
      - postgres
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
      AIRFLOW__CORE__FERNET_KEY: "4cb62f3a485bf6b929b1629ab4d29674"
      AIRFLOW__WEBSERVER__SECRET_KEY: "my_super_secret_key_123"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./dbt:/opt/airflow/dbt
      - /Users/elham/.dbt:/opt/airflow/dbt-profiles
      - /Users/elham/.secrets/dbt_svc_private_key.pem:/opt/airflow/secrets/dbt_svc_private_key.pem:ro
    command: airflow scheduler

volumes:
  postgres-db:
